@model ApplianceTesting.Models.RoleModel

<div class="container card p-5" style="margin-top:5%">
    <h3>Assign Role and Manage Credentials</h3>
    <hr />
    <form asp-action="AddRole" asp-controller="Master" method="post">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-4 mb-2">
                        <label class="form-label">Role Name</label>
                        <select id="RoleId" name="RoleId" class="form-control">
                            <option value="">-- Select Role --</option>
                            @if (ViewBag.roleDDL != null)
                            {
                                foreach (var comp in ViewBag.roleDDL)
                                {
                                    <option value="@comp.RoleId">@comp.RoleName</option>

                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-4 mb-2">
                        <label class="form-label">Compnany</label><br />
                        <select id="CompanyId" name="CompanyId" class="form-control">
                            <option value="">-- Select Company --</option>
                            @if (ViewBag.compDDL != null)
                            {
                                foreach (var comp in ViewBag.compDDL)
                                {
                                   
                                        <option value="@comp.CompanyId">@comp.CompanyName</option>
                                   
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row float-end">
                    <div class="col-md-12 mb-2">
                        <button type="reset" class="btn btn-secondary">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <table class="table datatableCss" id="myTable">
                    <thead>
                        <tr>

                            <th>Role Id</th>
                            <th>RoleName</th>
                            <th>CompanyStatus</th>
                        </tr>
                    </thead>
                    @if (ViewBag.roleList != null)
                    {
                        foreach (var item in ViewBag.roleList)
                        {
                            <tr>
                                <td>@item.RoleId</td>
                                <td>@item.RoleName</td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" class="status-switch" data-id="@item.RoleId" data-table="RoleMaster" @(item.RoleStatus ? "checked" : "") data-idcolumn="RoleId" data-stcolumn="RoleStatus">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                            </tr>
                        }
                    }

                </table>
            </div>
        </div>
    </form>

    @*  <h3>Records</h3>
    <hr />
    <table class="table" id="myTable">
    <thead>
    <tr>
    <th>State</th>
    <th>City</th>
    <th>Area</th>
    </tr>
    </thead>
    @if (ViewBag.locations != null)
    {
    foreach (var item in ViewBag.locations)
    {
    <tr>
    <td>@item.LocationName</td>
    <td>@item.CityName</td>
    <td>@item.StateName</td>
    </tr>
    }
    }

    </table> *@


</div>
