@* @model StateModel *@

@* <script src="https://cdnjs.cloudflare.com/ajax/libs/dexie/3.2.2/dexie.min.js"></script> *@

<style>
    /* Custom styles for the tabs */
    .custom-nav {
        list-style: none;
        padding: 0;
        display: flex;
        border-bottom: 2px solid #ccc;
    }

        .custom-nav .nav-item {
            margin-right: 10px;
        }

        .custom-nav .tab-link {
            display: block;
            padding: 10px 15px;
            color: #333;
            text-decoration: none;
            background-color: #f1f1f1;
            border-radius: 5px 5px 0 0;
        }

            .custom-nav .tab-link.active {
                background-color: #007bff;
                color: white;
            }

    .tab-content {
        padding: 20px;
        /*  border: 1px solid #ccc; */
        border-top: none;
    }

    .tab-pane {
        display: none;
    }

        .tab-pane.show.active {
            display: block;
        }

    .show {
        width: unset;
    }

</style>
<div class="container card p-5" style="margin-top:5%">
    <h3>Add Locality</h3>
    <hr />
    <!-- Custom Tabs Nav -->
    <ul class="custom-nav mb-3" id="tab-list" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="tab-link active" id="tab-1" href="#content-1" role="tab" aria-controls="content-1" aria-selected="true">State</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="tab-link" id="tab-2" href="#content-2" role="tab" aria-controls="content-2" aria-selected="false">City</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="tab-link" id="tab-3" href="#content-3" role="tab" aria-controls="content-3" aria-selected="false">Location</a>
        </li>
    </ul>

    <!-- Custom Tabs Content -->
    <div class="row">
        <div class="col-sm-12">

            <div class="tab-content">
                <!--TAB 1-->

                <div class="tab-pane show active text-dark" id="content-1" role="tabpanel" aria-labelledby="tab-1">
                    <div class="row">
                        <div class="col-sm-4 offset-sm-4">

                            <form asp-action="StateCityLocation" asp-controller="Master" method="post">
                                <div class="mb-3">
                                    <label for="txtStateName" class="form-label">State Name</label>
                                    <input type="text" name="StateName" class="form-control" id="txtStateName" placeholder="Enter State name">
                                </div>

                                <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>@*
                                <button type="button" onclick="syncData()" class="btn btn-success">Sync Data</button> *@

                            </form>

                        </div>
                        <div class="col-sm-12">
                            <!--State List-->
                            <h3>Records</h3>
                            <hr />
                            <table class="table mytable">
                                <thead>
                                    <tr>
                                        <th>State</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                @if (ViewBag.locations != null)
                                {
                                    foreach (var item in ViewBag.States)
                                    {
                                        <tr>
                                            <td>@item.StateName</td>
                                            <td>
                                                <label class="switch">
                                                    <input type="checkbox" class="status-switch" data-id="@item.StateId" data-table="StateMaster" @(item.StateStatus ? "checked" : "") data-idcolumn="StateId" data-stcolumn="StateStatus">
                                                    <span class="slider round"></span>
                                                </label>
                                            </td>

                                        </tr>
                                    }
                                }

                            </table>
                            <!---->
                        </div>

                    </div>
                </div>
                <!--TAB 2-->
                <div class="tab-pane text-dark" id="content-2" role="tabpanel" aria-labelledby="tab-2">
                    <div class="row">
                        <div class="col-sm-4 offset-sm-4">
                            <form asp-action="StateCityLocation" asp-controller="Master" method="post">
                                <div class="mb-3">
                                    <label for="txtStateName" class="form-label">State</label>
                                    <select name="StateId" class="form-control">
                                        <option value="">-- Select State --</option>
                                        @if (ViewBag.States != null)
                                            foreach (var state in ViewBag.States)
                                            {
                                                <option value="@state.StateId">@state.StateName</option>
                                            }  }
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="txtStateName" class="form-label">City</label>
                                    <input type="text" name="CityName" class="form-control" id="txtCityName" placeholder="Enter City Name">
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>

                        </div>
                        <div class="col-sm-12">
                            <!--City List-->
                            <h3>Records</h3>
                            <hr />
                            <table class="table mytable">
                                <thead>
                                    <tr>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                @if (ViewBag.locations != null)
                                {
                                    foreach (var item in ViewBag.Cities)
                                    {
                                        <tr>
                                            <td>@item.CityName</td>
                                            <td>@item.StateName</td>
                                            <td>
                                                <label class="switch">
                                                    <input type="checkbox" class="status-switch" data-id="@item.CityId" data-table="CityMaster" @(item.CityStatus ? "checked" : "") data-idcolumn="CityId" data-stcolumn="CityStatus">
                                                    <span class="slider round"></span>
                                                </label>
                                            </td>

                                        </tr>
                                    }
                                }

                            </table>
                            <!---->
                        </div>
                    </div>
                </div>
                <!--TAB 3-->
                <div class="tab-pane text-dark" id="content-3" role="tabpanel" aria-labelledby="tab-3">

                    <div class="row">
                        <div class="col-sm-4 offset-sm-4">

                            <form asp-action="StateCityLocation" asp-controller="Master" method="post">
                                <div class="mb-3">
                                    <label for="txtStateName" class="form-label">State</label>
                                    <select id="StateId" name="StateId" class="form-control" onchange="fetchCities(this.value)">
                                        <option value="">-- Select State --</option>
                                        @if (ViewBag.States != null)
                                            foreach (var state in ViewBag.States)
                                            {
                                                <option value="@state.StateId">@state.StateName</option>
                                            }  }
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="CityId">Select City</label>
                                    <select id="CityId" name="CityId" class="form-control">
                                        <option value="">-- Select City --</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="txtLocationName" class="form-label">Location</label>
                                    <input type="text" name="LocationName" class="form-control" id="txtLocationName" placeholder="Enter Location Name">
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>

                        </div>
                        <div class="col-sm-12">
                            <!--Location List-->
                            <h3>Records</h3>
                            <hr />
                            <table class="table mytable">
                                <thead>
                                    <tr>
                                        <th>Area</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                @if (ViewBag.locations != null)
                                {
                                    foreach (var item in ViewBag.locations)
                                    {
                                        <tr>
                                            <td>@item.LocationName</td>
                                            <td>@item.CityName</td>
                                            <td>@item.StateName</td>
                                            <td>
                                                <label class="switch">
                                                    <input type="checkbox" class="status-switch" data-id="@item.LocationId" data-table="LocationMaster" @(item.LocationStatus ? "checked" : "") data-idcolumn="LocationId" data-stcolumn="LocationStatus">
                                                    <span class="slider round"></span>
                                                </label>
                                            </td>

                                        </tr>
                                    }
                                }

                            </table>
                            <!---->
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>


</div>

<!-- Tabs content -->
<script>
    $(document).ready(function () {
        $('.tab-link').on('click', function (e) {
            e.preventDefault();
            $('.tab-link').removeClass('active');
            $('.tab-pane').removeClass('show active');
            $(this).addClass('active');
            var contentId = $(this).attr('href');
            $(contentId).addClass('show active');
        });
    });
</script>
<!--AJAX get city list bind-->
<script>
    function fetchCities(stateId) {
        if (stateId) {
            $.ajax({
                url: '@Url.Action("GetCitiesByState", "Master")',
                type: 'GET',
                data: { stateId: stateId },
                success: function (data) {
                    var citySelect = $('#CityId');
                    citySelect.empty(); // Clear existing options
                    citySelect.append('<option value="">-- Select City --</option>');
                    $.each(data, function (i, city) {
                        debugger
                        citySelect.append('<option value="' + city.id + '">' + city.name + '</option>');
                    });
                }
            });
        } else {
            $('#CityId').empty().append('<option value="">-- Select City --</option>');
        }
    }
</script>
<!--AJX UpdateStatus-->
@* <script>
    $(document).ready(function () {
        $('.switch input[type="checkbox"]').change(function () {
            var locationId = $(this).data('id'); // Assuming you add a data-id attribute
            var status = $(this).is(':checked');

            $.ajax({
                url: '@Url.Action("UpdateLocationStatus", "Master")',
                type: 'POST',
                data: {
                    id: locationId,
                    status: status
                },
                success: function (response) {
                    if (response.success) {
                        swal("Success", 'Status Updated Successfully.', "success");
                    } else {
                        swal("Oops", 'Error Updating Status', "error");
                    }
                },
                error: function () {
                    console.log('Error occurred during the request.');
                }
            });
        });
    });
</script> *@


@* <script>
    // Create Dexie database instance for storing state data offline
    var db = new Dexie("StateDatabase");

    // Define a State table
    db.version(1).stores({
        states: "++id, stateName"
    });

    // Function to submit the form data (offline mode)
    function submitStateForm() {
        debugger
        var stateName = $('#txtStateName').val();

        if (navigator.onLine) {
            // If online, submit directly to the server
            $.ajax({
                url: '@Url.Action("StateCityLocation", "Master")',
                type: 'POST',
                data: { StateName: stateName },
                success: function (response) {
                    alert('State saved online successfully');
                },
                error: function () {
                    alert('Failed to save state online');
                }
            });
        } else {
            // If offline, save state data to IndexedDB
            db.states.add({
                stateName: stateName
            }).then(function () {
                alert('State saved offline successfully');
            }).catch(function (error) {
                console.error("Error saving state data offline: ", error);
            });
        }
    }

    // Function to sync offline state data to the server when back online
    function syncStateData() {
        db.states.toArray().then(function (states) {
            if (states.length > 0) {
                $.ajax({
                    url: '@Url.Action("StateCityLocation", "Master")',
                    type: 'POST',
                    data: { states: JSON.stringify(states) }, // Send offline states as an array
                    success: function () {
                        debugger
                        alert('Offline data synced successfully');
                        db.states.clear(); // Clear offline data after sync
                    },
                    error: function () {
                        alert('Failed to sync offline data');
                    }
                });
            } else {
                alert('No offline data to sync');
            }
        }).catch(function (error) {
            console.error("Error fetching offline data: ", error);
        });
    }

    // Listen for network changes to enable/disable the sync button
    window.addEventListener('online', () => {
        $('#syncBtn').prop('disabled', false);
    });

    window.addEventListener('offline', () => {
        $('#syncBtn').prop('disabled', true);
    });

    // Initially disable the sync button if offline
    if (!navigator.onLine) {
        $('#syncBtn').prop('disabled', true);
    }
</script> *@